.bannerImg{
    width:  100%;
    height: auto;
    display: block;
    /* Blend with parents background: */
    mix-blend-mode: multiply;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity:  0.3;
    
}
.bannerContiner{
    background-color :#ff9b1a;
}
.userProfile{
    width:  210px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}